<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#app {
				width: 800px;
				margin: 20px auto;
			}
			
			#table {
				width: 800px;
				border-collapse: collapse;
				margin: 20px auto;
			}
			
			#table th {
				background-color: yellow;
				color: brown;
				font-size: 16px;
				padding: 5px;
				text-align: center;
				border: 1px solid black;
			}
			
			#table td {
				padding: 5px;
				text-align: center;
				border: 1px solid black;
			}
		</style>
		<script src="js/Vue1026.js"></script>
	</head>

	<body>
		<div id="app">
			<input type="text" v-model="id" />
			<input type="text" v-model="pname" v-on:keydown.enter="addData" />
			<button v-on:click="addData">添加信息</button><br />
			<my-red>搜索条件：</my-red><input type="text" v-focus v-color='color' placeholder="请输入筛选内容" v-model="sname" />
			<table id="table">
				<tr>
					<th>编号</th>
					<th>名称</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				<tr v-if="list.length==0">
					<td colspan="4">无数据</td>
				</tr>
				<tr v-for="item in list | filterBy sname in'name'">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.ctime|datefmt 'yyyy-mm-dd HH:mm:ss'}}</td>
					<td>
						<a href="javascript:void(0)" @click="delData(item.id)">删除</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
	<script>
		Vue.directive('focus', function() {
			var inputObj = this.el;
			inputObj.focus();
		});
		Vue.directive('color', function() {
			//console.log(this.expression);
			this.el.style.color = this.vm[this.expression]
		});
		Vue.elementDirective('my-red',{
			bind:function(){
				this.el.style.color='red';
			}
		});

		Vue.directive('on').keyCodes.enter;
		console.log(Vue.directive('on').keyCodes);

		Vue.filter('datefmt', function(input, formatstring) {
			var res = '';
			var year = input.getFullYear();
			var month = input.getMonth() + 1;
			var day = input.getDate();
			if(formatstring == 'yyyy-mm-dd') {
				res = year + '-' + month + '-' + day;
			} else {
				res = year + '-' + month + '-' + day + ' 03:09:18';
			}

			return res;
		});

		var vm = new Vue({
			el: '#app',
			data: {
				color: 'red',
				list: [{
						id: 1,
						name: '奔驰',
						ctime: new Date
					},
					{
						id: 2,
						name: '宝马',
						ctime: new Date
					}
				],
				id: 0,
				pname: '',
				sname: ''
			},
			methods: {
				addData: function() {
					var p = {
						id: this.id,
						name: this.pname,
						ctime: new Date()
					};
					this.list.push(p);
					this.id = 0;
					this.pname = '';
				},
				delData: function(id) {
					if(!confirm('是否删除？')) {
						return;
					}
					var index = this.list.findIndex(function(item) {
						return item.id == id
					});
					this.list.splice(index, 1);
				}
			}

		});
	</script>

</html>